# -- OS files --
desktop.ini
.DS_Store



# -- Project files --
.godot/
.idea
.project  
.settings
.springBeans



# -- Configuration --
.nomedia
.lock-wscript
.tern-port



# -- Dependencies --
node_modules/
.yarn-integrity
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
jspm_packages/
lib-cov
bower_components
web_modules/



# -- Metadata --
.import/
*.translation



# -- Database --
.dynamodb/



# -- Build outputs --
out
build/Release
bin/
dist
.vuepress/dist
.next
.nuxt
*.tgz
.serverless/
# IntelliJ
!**/src/main/**/out/  
!**/src/test/**/out/
!**/src/main/**/bin/  
!**/src/test/**/bin/



# -- Environment variables --
.env
.env.development.local
.env.test.local
.env.production.local
.env.local



# -- Confidential --
export_credentials.cfg



# -- History/Versioning --
.node_repl_history



# -- Runtime data --
pids
_.pid
_.seed
*.pid.lock



# -- Caches/Temp --
.cache
.temp
*.tsbuildinfo
.npm
.yarn/cache
.eslintcache
.stylelintcache
.fusebox/
.parcel-cache
.docusaurus
# Microbundle
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
# Eclipse
.apt_generated
.classpath  
.factorypath
.sts4-cache



# -- Logs/Reports --
logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
mono_crash.*.json



# -- Testing/Diagnostics --
.vscode-test
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
coverage
*.lcov
.nyc_output



# -- Task Runners --
.grunt